{% extends "base.html" %}
{% block content %}

<h2>Dashboard</h2>

<a href="/add">+ Add Product</a> |
<a href="/sales">Sales History</a>

<table border="1" width="100%" cellpadding="8">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Action</th>
</tr>

{% for product in products %}
<tr>
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
    <td>₹ {{ product.price }}</td>
    <td>{{ product.stock }}</td>
    <td>
        <a href="/sale/{{ product.id }}">Sale</a> |
        <a href="/delete/{{ product.id }}">Delete</a>
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}
